/***********
HEDAER 
***********/

@use './variables.scss' as *;

.dc-logo {
    height: 80px;
}

.dc-menu li {
    line-height: 7.5;

    a {
        font-size: 11px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.header-top-bar {
    height: 25px;
    background-color: $button-br;
    font-size: 12px;

    .additional-sites {
        margin-left: 65px;

        i {
            margin-left: 5px;
        }
    }
}